In [1]:
import pandas as pd

#### Data Source

The datasets were downloaded from Kaggle.

In [2]:
# Load 12 months of data
jan = pd.read_csv('Data/Sales_January_2019.csv')
feb = pd.read_csv('Data/Sales_February_2019.csv')
mar = pd.read_csv('Data/Sales_March_2019.csv')
apr = pd.read_csv('Data/Sales_April_2019.csv')
may = pd.read_csv('Data/Sales_May_2019.csv')
jun = pd.read_csv('Data/Sales_June_2019.csv')
jul = pd.read_csv('Data/Sales_July_2019.csv')
aug = pd.read_csv('Data/Sales_August_2019.csv')
sep = pd.read_csv('Data/Sales_September_2019.csv')
oct = pd.read_csv('Data/Sales_October_2019.csv')
nov = pd.read_csv('Data/Sales_November_2019.csv')
dec = pd.read_csv('Data/Sales_December_2019.csv')

In [3]:
# Concatenate all data into 1 dataset
dataset = [jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec]
sales_df = pd.concat(dataset)
sales_df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"

In [4]:
# Check for missing values
sales_df.isnull().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [5]:
# Delete missing values
sales_df = sales_df.dropna(how='any', axis=0)

In [6]:
# Check data informations(columns, rows, datatypes)
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186305 entries, 0 to 25116
Data columns (total 6 columns):
Order ID            186305 non-null object
Product             186305 non-null object
Quantity Ordered    186305 non-null object
Price Each          186305 non-null object
Order Date          186305 non-null object
Purchase Address    186305 non-null object
dtypes: object(6)
memory usage: 9.9+ MB

In [7]:
quantity_check = sales_df['Quantity Ordered'].unique()
quantity_check

array(['1', '2', '3', '5', '4', '7', 'Quantity Ordered', '6', '9', '8'],
      dtype=object)

In [8]:
# Remove inappropriate data

sales_df = sales_df.loc[sales_df['Quantity Ordered'] != 'Quantity Ordered']

In [9]:
# Convert 'Order Date' to datetime format
sales_df['Order Date']= pd.to_datetime(sales_df['Order Date'])
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 25116
Data columns (total 6 columns):
Order ID            185950 non-null object
Product             185950 non-null object
Quantity Ordered    185950 non-null object
Price Each          185950 non-null object
Order Date          185950 non-null datetime64[ns]
Purchase Address    185950 non-null object
dtypes: datetime64[ns](1), object(5)
memory usage: 9.9+ MB

In [10]:
# check data collecting year
year = sales_df['Order Date'].dt.year.value_counts()
year

2019    185916
2020        34
Name: Order Date, dtype: int64

In [11]:
# Choose only 2019 data for this analysis 
sales_df = sales_df.loc[sales_df['Order Date'].dt.year == 2019]
sales_df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,2019-01-22 21:25:00,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,2019-01-28 14:15:00,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,2019-01-17 13:33:00,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,2019-01-05 20:33:00,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,2019-01-25 11:59:00,"387 10th St, Austin, TX 73301"

In [12]:
sales_df.to_csv("sales_data.csv", encoding="utf-8", index= False, header = True)